<div data-class="BKI_ExampleMenu" data-key="viewroot">
    <div style="margin-left:1em; margin-right: 1em;">
        <h2 data-bind-text="{read path=example.Caption}" style="margin-top:0px;"></h2>
        <h3>Files</h3>
        <div data-class="Repeater" data-bind-$items="{read path=menu}" style="cursor:pointer;">
            <div data-bind-text="{read path=EntryName}" class="bk-margin-large hover-links"
                 data-on-click="{bind source=viewroot path=onFileSelect}">
            </div>
        </div>
        <span>Author </span>
        <h4 data-bind-text="{read path=example.Author}"></h4>
        <div data-class="TemplateSwitcher"
             data-bind-$item="{read}"
             data-on-$select="{bind source=__view path=onTemplateSelect}">
            <div data-key="user">
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Refresh example"
                        data-on-click="{bind source=viewroot path=onRunExample}">
                    Refresh example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Edit example"
                        data-on-click="{bind source=viewroot path=onEditExample}">
                    Edit example
                </button>
            </div>
            <div data-key="userCreate">
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Refresh example"
                        data-on-click="{bind source=viewroot path=onRunExample}">
                    Refresh example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Save example on the server"
                        data-on-click="{bind source=viewroot path=onSaveExample}">
                    Save example on the server
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Edit example"
                        data-on-click="{bind source=viewroot path=onEditExample}">
                    Edit example
                </button>
            </div>
            <div data-key="admin">
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Refresh example"
                        data-on-click="{bind source=viewroot path=onRunExample}">
                    Refresh example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Save example on the server"
                        data-on-click="{bind source=viewroot path=onSaveExample}">
                    Save example on the server
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Edit example"
                        data-on-click="{bind source=viewroot path=onEditExample}">
                    Edit example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Delete"
                        data-on-click="{bind source=viewroot path=onDeleteExample}">
                    Delete
                </button>
            </div>
            <div data-key="adminReview">
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Refresh example"
                        data-on-click="{bind source=viewroot path=onRunExample}">
                    Refresh example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Approve example"
                        data-on-click="{bind source=viewroot path=onApproveExample}">
                    Approve example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Edit example"
                        data-on-click="{bind source=viewroot path=onEditExample}">
                    Edit example
                </button>
                <button class="bk-button bk-button-block bk-pushable margin-button" type="button" title="Delete"
                        data-on-click="{bind source=viewroot path=onDeleteExample}">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

