<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', (event) => {
            opener.KB_TaskBaseView.onReturnConsent('@Html.Raw(ViewData["Data"])');
        });
    </script>
</head>
<body>
    
</body>
</html>






