<div id="TouchSplitWindowTemplate">
    <div class="bk-splitwindow-main" data-key="_window">
        <div class="bk-client-position" data-key="_client">
            <div data-key="left" style="padding:0px;margin:0px;border:0px;">
            </div>

            <div data-key="resizer" class="bk-spliter-band" style="display:block; background: #74b0c1; width: 20px; height: 937px;">
                <div data-key="resizer_left" class="bk-spliter left">
                    <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angle-left.svg'" style="position: absolute; right: -35px;" />
                </div>

                <div data-key="resizer_right" class="bk-spliter right">
                    <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angle-right.svg'" style="position: absolute; right: -35px;" />
                </div>
            </div>
            <div data-key="right" style="padding:0px;margin:0px;border:0px;">

            </div>
            <div data-key="collapsedLeft" style="position: absolute; left: 0px; bottom: 20px; width: 20px; height: 937px; display:none; background: #74b0c1; cursor: pointer;">
                <div data-key="resizer_right" class="bk-spliter left" style="display:block">
                    <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angle-right.svg'" />
                </div>
                <div data-key="caption" class="bk-collapsed-header left">

                    &nbsp;
                </div>
            </div>
            <div data-key="collapsedRight" style="position: absolute; right: 20px; bottom: 20px; width: 20px; height: 937px; display:none; background: #74b0c1; cursor: pointer;">
                <div data-key="resizer_left" class="bk-spliter right" style="display:block">
                    <div data-class="SvgY svgpath='/node/raw/bindkraftstyles/images/angle-left.svg'" />
                </div>
                <div data-key="caption" class="bk-collapsed-header right">
                    &nbsp;
                </div>
            </div>

        </div>
    </div>
</div>