@using Ccf.Ck.Libs.Web.Bundling
@using Ccf.Ck.Models.KraftModule

@{
    ViewData["Title"] = "First Example";
}

@section styles {
    @BundleCollection.Instance.Profile("FirstExample").Styles.Render()
}

<script type="text/javascript">
            //global base path
            g_ApplicationBasePath = "@Url.Content("~/")";
</script>
<div id="bindkraft">
    <div id="container" class="themed basic">
    </div>
</div>

@section scripts {
    @BundleCollection.Instance.Profile("FirstExample").Scripts.Render()
}