<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="ShouldSerializeWithAllDetails" value="0" />
  <variable name="SelectRowCount" value="SELECT COUNT(*) AS 'RowCount'
          FROM Log
          WHERE @filter IS NULL OR Loglevel=@filter" />

  <variable name="SelectWithFilter" value="SELECT Id
          , Timestamp
          , Eventid
          , Logger
          , Loglevel
          , Message
          , Exception
          , Url
          , Action
          , KraftError
          , Arguments
          FROM Log
          WHERE @filter is null or Loglevel = @filter
          ORDER BY Id DESC" />

  <variable name="TruncateLogDataCommand" value="DELETE FROM Log;
          DELETE FROM SQLITE_SEQUENCE WHERE name = 'Log'" />
  <targets>
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target name="KraftFile" xsi:type="File"
            fileName="${basedir}/Logs/nlog-kraft-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action} ${newline} ${mdc:item=KraftError} ${newline} ${mdc:item=Args}" />

    <target name="KraftConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action} ${newline} ${mdc:item=KraftError} ${newline} ${mdc:item=Args}" />

    <target name="KraftDatabase" xsi:type="Database"
           keepConnection="false"
           dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
           connectionString="Data Source=${basedir}/Logs/Log.sqlite;"
           commandText="INSERT into Log(Timestamp, Eventid, Logger, Loglevel, Message, Exception, Url, Action, KraftError, Arguments) values(@Timestamp, @Eventid, @Logger, @Loglevel, @Message, @Exception, @Url, @Action, @KraftError, @Arguments)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Eventid" layout="${event-properties:item=EventId.Id}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@Url" layout="${aspnet-request-url}"/>
      <parameter name="@Action" layout="${aspnet-mvc-action}"/>
      <parameter name="@KraftError" layout="${mdc:item=KraftError}"/>
      <parameter name="@Arguments" layout="${mdc:item=Args}"/>

      <install-command>
        <text>
          CREATE TABLE Log (
          Id INTEGER PRIMARY KEY AUTOINCREMENT,
          Timestamp TEXT,
          Eventid TEXT,
          Logger TEXT,
          Loglevel TEXT,
          Message TEXT,
          Exception TEXT,
          Url TEXT,
          Action TEXT,
          KraftError TEXT,
          Arguments TEXT)
        </text>
      </install-command>
    </target>

    <target name="KraftMail" xsi:type="Mail"
        smtpServer="mail.cleancodefactory.de"
        smtpPort="25"
        smtpAuthentication="Basic"
        smtpUserName="info@cleancodefactory.de"
        smtpPassword="q15PfSAA4dHqE6mCWZCpDE0SmlfEtbtplCIUdQUnVIsHgR9prGHv6UGa"
        enableSsl ="true"
        from="info@cleancodefactory.de"
        to="team_makedata_errors@cleancodefactory.de"
        html="true"
        encoding="UTF-8"
        addNewLines="true"
        replaceNewlineWithBrTagInHtml ="true"
        subject="SYSTEM MESSAGE：${machinename}-${mdc:item=ExecutionFolder} | ${shortdate} ${time} create ${level} message"
        header="========================================================================="
        body="${newline} 
        Time：${longdate} ${newline}
        ExecutionFolder：${mdc:item=ExecutionFolder} ${newline}
        Event: ${event-properties:item=EventId.Id} ${newline}
        Logger：${logger} ${newline} ${newline}
        Log level：${level:uppercase=true} ${newline}            
        Source：${callsite:className=true} ${newline}
        Url: ${aspnet-request-url} ${newline}
        Action: ${aspnet-mvc-action} ${newline}
        Exception：${exception} ${newline}
        KraftError: ${mdc:item=KraftError} ${newline}
        Args: ${mdc:item=Args}
        Error message：${message} ${newline}${newline}"
        footer="========================================================================="
        />

  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="KraftDatabase" />
    <logger name="*" minlevel="Warn" writeTo="KraftFile" />
    <logger name="*" minlevel="Debug" writeTo="KraftConsole" />
  </rules>
</nlog>

<!--
Fatal: Highest level: important stuff down
Error: For example application crashes / exceptions.
Warn: Incorrect behavior but the application can continue
Info: Normal behavior like mail sent, user updated profile etc.
Debug: Executed queries, user authenticated, session expired
Trace: Begin method X, end method X etc
-->