<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore xdt:Transform="SetAttributes(startupTimeLimit,shutdownTimeLimit)" startupTimeLimit="3600" shutdownTimeLimit="600">
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>