@using Ccf.Ck.Libs.Web.Bundling
@using Ccf.Ck.Models.KraftModule
@using Ccf.Ck.Models.Settings
@model KraftGlobalConfigurationSettings

@{
    ViewData["Title"] = Model.GeneralSettings.DefaultStartModule;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <script type="text/javascript">
            //global base path
            g_ApplicationBasePath = "@Url.Content("~/")";
    </script>
    @{ 

    }
    @BundleCollection.Instance.Profile(Model.GeneralSettings.DefaultStartModule).KraftStyles(Model.GeneralSettings.Theme + ".dep").Render()
</head>
<body>
    <div id="bindkraft">
        <div id="container" class="themed">
        </div>
    </div>
    @BundleCollection.Instance.Profile(Model.GeneralSettings.DefaultStartModule).KraftScripts().Render()
</body>
</html>






