@{
    Layout = null;
}
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Old Browser</title>

</head>

<body translate="no">
    <div>
        Update your browser
    </div>
</body>
</html>