@using Ccf.Ck.Libs.Web.Bundling
@using Ccf.Ck.Models.KraftModule
@using Ccf.Ck.Models.Settings
@using System.Threading
@using Ccf.Ck.Web.Middleware
@using Ccf.Ck.Models.DirectCall
@using System.Text.Json
@using System.Text.Json.Serialization

@model KraftGlobalConfigurationSettings

@{ ViewData["Title"] = "Returning"; /*Model.GeneralSettings.DefaultStartModule;*/ }

@{
    Layout = null;
    ReturnModel returnModel = ViewData["returnModel"] as ReturnModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <title>@ViewData["Title"]</title>
</head>
<body>
    @{
        if (returnModel.IsSuccessful)
        {
            <h1>Processed successfuly</h1>
        }
        else
        {
            <h1>Error processing the return response</h1>
            <p>@returnModel.ErrorMessage</p>
        }
    }

    @{
        var hostingUrl = Html.Raw(Model.GeneralSettings.HostingUrl);
        int isDevelopment = Model.EnvironmentSettings.IsDevelopment() ? 1 : 0;
    }
    <script type="text/javascript">
        @{
            var data = JsonSerializer.Serialize(returnModel);
            <text>
            var data = @Html.Raw(data);
            if (window.opener != null) {
                window.opener.focus();
                window.opener.postMessage(data, '@hostingUrl');
            }
            else {
                alert("Parentless window and no payment possible");
            }
            </text>
        }
    </script>

</body>
</html>